
body {
	background-color: $base-color;
	font: 1em/1.6em 'Open Sans Condensed', Helvetica, Arial, sans-serif;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

/***********************************************************
	HEADER
************************************************************/
.header {
	background-color: $nav-color;
	border-bottom: 1px solid $borde-color;
	height: 50px;
	width: 100%;
	position: fixed;
	opacity: 0.7;
	z-index: 100;
}

.logotipo {
	width: 80px;
	position: relative;
	left: 47%;
	top: 10px;
	opacity: 0.5;
	
	&:hover {
		opacity: 0.9;
	}
}

/***********************************************************
	MAIN
************************************************************/
.main-figure {
	width: 100%;
	margin-bottom: 4%;
	
	figure {
		max-width: 100%;
		height: 600px;
		background: url('../img/figure.png') no-repeat;
		background-position: center top;
	}
}

.main-content {
	position: relative;
	bottom: 200px;
	text-align: center;
	position: absolute;
	left: 30%;
	color: white;
	
	h1, h2 {
		font-family: 'Albertsthal Typewriter', serif;
	}
	
	h1 {
		font-size: 42pt;
	}
}

/***********************************************************
	SECTION
************************************************************/
.section {
	background-color: white;
}

.item {
	margin: 60px 0;
	
	.figure-item {
		width: 37%;
		display: inline-block;
		margin-right: 2%;
	}
	
	.item-text {
		width: 60%;
		display: inline-block;
		float: right;
	}
}

section, footer {
	padding: 4%;
}

/***********************************************************
	TYPOGRAFIA
************************************************************/
h1 {
	margin: 0 0 10px 0;
}

p {
	font-size: 14pt;
	letter-spacing: 1px;
}

@font-face {
  font-family: "Albertsthal Typewriter";
        src: url('../fonts/Albertsthal-Typewriter.eot');
        src: url('../fonts/Albertsthal-Typewriter.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Albertsthal-Typewriter.svg#USIS 1949') format('svg'),
        url('../fonts/Albertsthal-Typewriter.woff') format('woff'),
        url('../fonts/Albertsthal-Typewriter.ttf') format('truetype');
        font-weight: normal;
        font-style: normal; 
}

/***********************************************************
	ELEMENTS
************************************************************/
.btn {
	padding: 10px 20px;
	background: rgba (20,20,20, 0.5);
	
	&.btn-prim {
		border-radius: 4px;
		border: 2px solid white;
	}
	
	&:hover {
		background-color: white;
	}
}

/***********************************************************
	MEDIA QUERY
************************************************************/

@media (min-width: 320px) {
	.item-text {
		h1 {
			font-size: 16pt;
			line-height: 20pt;
		}
		.item-list-track {
			display: none;
		}
	}
}

@media (min-width: 600px) {
	.item-text {
		h1 {
			font-size: 32pt;
			line-height: 40pt;
		}
		.item-list-track {
			display: block;
		}
	}
}


