/*******************************************************
	RESET
********************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html, body, figure {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	width: 100%;
	height: auto;
}
